<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BBDPFolderServer</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>Login.htm</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>bbdp.folder.controller.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadVideoServlet</servlet-name>
    <servlet-class>bbdp.folder.controller.UploadVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadVideoServlet</servlet-name>
    <url-pattern>/UploadVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FolderServlet</servlet-name>
    <servlet-class>bbdp.folder.controller.FolderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FolderServlet</servlet-name>
    <url-pattern>/FolderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientBasicInformationFolderNumServlet</servlet-name>
    <servlet-class>bbdp.patientBasicInformation.controller.PatientBasicInformationFolderNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientBasicInformationFolderNumServlet</servlet-name>
    <url-pattern>/PatientBasicInformationFolderNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomepageFolderDataServlet</servlet-name>
    <servlet-class>bbdp.homepage.controller.HomepageFolderDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomepageFolderDataServlet</servlet-name>
    <url-pattern>/HomepageFolderDataServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>bbdp.db.controller.ServletListener</listener-class>
  </listener>
  <listener>
    <listener-class>bbdp.folder.controller.UploadVideoContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost/</param-value>
  </context-param>
  <context-param>
    <param-name>database</param-name>
    <param-value>bbdp_file</param-value>
  </context-param>
  <context-param>
    <param-name>user_name</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>15192353</param-value>
  </context-param>
  <context-param>
    <param-name>appRootPath</param-name>
    <param-value>/WEB-INF/patientVideo</param-value>
  </context-param>
</web-app>